#title {
    color: #24685c;
    font-size: 48px;
    text-align: center;
  }

.images {
    width: 200px;
    height: 280px;
    border: 15px solid #92d9cc;
    align-items: right;
}
.headers {
    color: #35a18e;
    font-size: 24px;
    }

.subtext {
    color: #18463d;
    font-size: 15px;
}

.link { color: #18463d; } /* CSS link color (red) */
.link:hover { color: #92d9cc; } /* CSS link hover (green) */